.container{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}
mat-grid-tile {
    background: lightblue;
  }

  .crypto{
      position: relative;
      width: 35%;
      /* border: solid; */
  }